.header {
  position: fixed;
  grid-area: h;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #353535;
  user-select: none;
  box-shadow: 0px 5px 10px 2px #3535355b;
  z-index: 3;
}
.loginBlock {
  color: white;
  font-size: 1.2em;
  position: relative;
  margin-left: auto;
  margin-right: 100px;
}
a {
  color: white;
  text-decoration: none;
}
.area {
  display: flex;
  align-items: center;
}
.userBlock, .titlePage {
  position: relative;
  height: 60px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.titlePage {
  font-size: 28px;
  transform: translateY(-2.5px);
  color: #fff;
  margin-left: 50px;
}
.userName {
  color: white;
}
.userPhoto {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.vertLIne {
  display: flex;
  align-items: center;
  color: white;
  margin: -0.5px;
  z-index: 1;
}
.logoutBlock {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px 10px;
  cursor: pointer;
}
.logoutBlock:hover, .userBlock:hover {
  background-color:#505050;
  transition: background-color 0.5s;
}