.item {
  width: 490px;
  justify-self:center;
  height: max-content;
  background-color:white;
  border-bottom: 2px solid ghostwhite;
  /* box-shadow: inset 0px 1px 1px 2px ghostwhite; */
  border-radius: 15px;
  margin: 5px 2.5px;
}
.authorField {
  background-color: ghostwhite;
  color: #000;
  border-radius: 15px 15px 0 0;
  padding: 5px;
  display: flex;
  align-items: center;
}
.postAuthor {
  transform: translateY(-2.5px);
  margin: 10px;
}
.photoUser img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.deleteIcon {
  margin-left: auto;
  margin-right: 10px;
}
.deleteIcon img {
  width: 25px;
  transition: 1s;
}
.deleteIcon img:hover {
  background-color: #e64c3c;
  border-radius: 100%;
  transform: rotate(180deg);
  transition: 1s;
}
.postMessage, .postLike {
  padding: 10px;
}
.postMessage {
  white-space: pre-line;
  word-break: break-word;
  word-wrap: break-word;
}
.postPhoto img {
  padding: 7.5px 5px;
  width: 480px;
}
.postLike {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  border-radius: 0 15px;
  background-color: ghostwhite;
  margin-bottom: -2px;
}
.postLike img {
  width: 30px;
  transition: .2s;
  border-radius: 15px 15px 25px 25px;
}
.likesCount {
  color: white;
  font-size: 14px;
  transform: translateY(-4.5px);
  position: absolute;
  user-select: none;
  pointer-events: none;
}