html {
  background-color:ghostwhite;
}
.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1000px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px auto;
  grid-template-columns: 200px 800px;
  grid-gap: 10px;
}
.app-wrapper-content{
  grid-area: c;
}
.mainContent {
  min-height: 205px;
  background-color: #302c4d;
  border-radius: 0 25px 25px 25px;
  padding: 5px;
}
::-webkit-scrollbar {
  width: 0px;
}