.nav{
    grid-area: n;
    background-color: #302c4d;
    padding:20px;
    height: 210px;
    width: 200px;
    border-radius: 0px 25px 25px 0px;
    font-size: 1.2em;
    text-align: center;
}
.item a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}
.item a.activeLink{
    color: gold;
    font-size: 1.5em;
}