.nav{
    position: fixed;
    padding: 20px;
    top: 90px;
    left: -210px;
    background-color:#fff;
    box-shadow: 0px 5px 10px 2px #3535352c;
    height: 255px;
    width: 200px;
    border-radius: 0px 25px 25px 0px;
    font-size: 1.2em;
    transition: .5s;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.nav:hover {
    left: 0;
    transition: .5s;
}
.nav a {
    margin: 2.5px 0;
    width: 165px;
}
.item:hover {
    background-color: #3535352c;
    transition: .5s;
}
.item {
    padding: 5px;
    width: 165px;
    color: #353535;
    border-radius: 10px;
}
a.activeLink .item {
    background-color: #353535;
    border: none;
    color: #fff;
}